<div class="nav-container">
    <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">
        <li class="has-sub nav-item">
            <a href="#"><i class="icon-home"></i><span data-i18n="" class="menu-title">Dashboard</span><span class="tag badge badge-pill badge-danger mt-1">2</span></a>
            <ul class="menu-content">
                <li class="active">
                    <a href="dashboard-ecommerce.html" class="menu-item">eCommerce</a>
                </li>
                <li>
                    <a href="dashboard-analytics.html" class="menu-item">Analytics</a>
                </li>
            </ul>
        </li>
        <li class="has-sub nav-item">
            <a href="#"><i class="icon-envelope-letter"></i><span data-i18n="" class="menu-title">Blogging</span></a>
            <ul class="menu-content">
                <li>
                    <a asp-area="administration" asp-page="/Blog/PostCategories/Index" class="menu-item">Post Categories</a>
                </li> 
                <li>
                    <a asp-area="administration" asp-page="/Blog/Posts/Index" class="menu-item">Posts</a>
                </li>
                <li class="has-sub">
                    <a href="#" class="menu-item">Icons</a>
                    <ul class="menu-content">
                        <li>
                            <a href="feather.html" class="menu-item">Feather</a>
                        </li>
                        <li>
                            <a href="font-awesome.html" class="menu-item">Font Awesome</a>
                        </li>
                        <li>
                            <a href="simple-line.html" class="menu-item">Simple Line</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>

    </ul>
</div>